@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

/*Aling-Items = sirve para alinear elementos en vertical (entre arriba y abajo) = https://www.youtube.com/watch?v=_k-K1P1cO7g*/
/*Justify-Content = se enfoca en lo horizontal (entre izquierda y derecha)*/

*{
    /*Quitamos valores por defecto*/
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background: #2c2c2c;
}

a,li{
    font-family: 'Dosis'; /*La fuente que importamos de Google Fonts*/
    color: white;
    font-weight: bold;
}

.logo_header img{
    width: 50px; /*Encogemos el logo*/
}

header{
    background-color: #222;
    display: flex; /*Para que se coloque uno al lado del otro*/
    justify-content: space-between; /*Los elementos dentro se separan lo máximo posible*/
    align-items: center;
    padding: .5rem 2rem;
}

.nav-menu ul{
    display: flex; /*Para que se coloque uno al lado del otro*/
    align-items: center;
}

.nav-menu li{
    margin-left: 1.5rem; /*Espacio entre los links*/
}

.nav-menu a:hover{
    color: #4ad295;
}

.nav-menu li:last-child{
    background-color: #4ad295;
    border: 2px solid #4ad295;
    padding: .25rem .75rem;
    border-radius: .2rem;
}

.nav-menu li:last-child:hover{
    background: transparent; /*quita su color y se ve el del header*/
    border: 2px solid #4ad295;
}

.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background-color: white;
}

.menu-icon, #check{
    display: none;
}

                /*o 40em*/
@media (max-width:768px){
    .checkbtn{
        display: block;
    }

    .menu-icon{
        display: block;
        position: fixed; /*Permite que un elemento se sobreponga por encima del otro, porque su posición es fija*/
        top: 20px; /*su distancia en relación al top, no es un margen*/
        right: 20px; /*su distancia en relación al lado derecho de la pantalla*/
    }

    .nav-menu ul{
        display: block;
        position: fixed;
        top: 60px;
        left: 100%; /*queda oculto porque está fuera del 100% de la pantalla, es parecido a un margin-left*/
        background: #222;
        width: 100%;
        height: 100vh;
        right: 0;
    }

    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .nav-menu ul li:last-child{
        background: none;
        padding: 1rem;
    }

    /*Cada vez que el 'input' esté activo va a ejecutar los estilo, el input está en la misma posición
    que el icono de menu hamburguesa, por lo que al presionar ese icono también presionamos el input.
    
    El símbolo " ~ " significa que está seleccionando todos los elementos dentro de un contenedor, en
    este caso se refiere a todos los elementos dentro de un "ul"*/
    #check:checked ~ ul{
        left: 0; /*Hacemos visualizar el menu*/
    }
}